StackOverflow/Connected Services/WcfService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8800/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model.Models" />
  <xs:import schemaLocation="http://localhost:8800/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BlogComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model.Models" minOccurs="0" name="Blog" nillable="true" type="q1:Blog" />
      <xs:element minOccurs="0" name="BlogId" type="ser:guid" />
      <xs:element minOccurs="0" name="Commentar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IdAuthor" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentComment" nillable="true" type="tns:BlogComment" />
      <xs:element minOccurs="0" name="ParentCommentId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Raiting" type="xs:short" />
      <xs:element minOccurs="0" name="ReplayComment" nillable="true" type="tns:ArrayOfBlogComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogComment" nillable="true" type="tns:BlogComment" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogComments" nillable="true" type="tns:ArrayOfBlogComment" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model.Models" minOccurs="0" name="Blogs" nillable="true" type="q2:ArrayOfBlog" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NegativeVoters" nillable="true" type="tns:ArrayOfNegativeVoters" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositiveVoters" nillable="true" type="tns:ArrayOfPositiveVoters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfBlogComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogComment" nillable="true" type="tns:BlogComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogComment" nillable="true" type="tns:ArrayOfBlogComment" />
  <xs:complexType name="ArrayOfNegativeVoters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NegativeVoters" nillable="true" type="tns:NegativeVoters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNegativeVoters" nillable="true" type="tns:ArrayOfNegativeVoters" />
  <xs:complexType name="NegativeVoters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="AuthorId" type="ser:guid" />
      <xs:element minOccurs="0" name="AuthorOfComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IdNumberOfComment" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NegativeVoters" nillable="true" type="tns:NegativeVoters" />
  <xs:complexType name="ArrayOfPositiveVoters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositiveVoters" nillable="true" type="tns:PositiveVoters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositiveVoters" nillable="true" type="tns:ArrayOfPositiveVoters" />
  <xs:complexType name="PositiveVoters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="AuthorId" type="ser:guid" />
      <xs:element minOccurs="0" name="AuthorOfComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IdNumberOfComment" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositiveVoters" nillable="true" type="tns:PositiveVoters" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
</xs:schema>