StackOverflow/Connected Services/WcfService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8800/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models.Models" />
  <xs:import schemaLocation="http://localhost:8800/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBlog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blog" nillable="true" type="tns:Blog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlog" nillable="true" type="tns:ArrayOfBlog" />
  <xs:complexType name="Blog">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Models" minOccurs="0" name="Author" nillable="true" type="q1:Author" />
      <xs:element minOccurs="0" name="AuthorId" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Models" minOccurs="0" name="BlogComments" nillable="true" type="q2:ArrayOfBlogComment" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Titile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blog" nillable="true" type="tns:Blog" />
</xs:schema>