StackOverflow/Connected Services/WcfService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8800/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8800/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model.Models" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfBlogComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogComment" nillable="true" type="tns:BlogComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogComment" nillable="true" type="tns:ArrayOfBlogComment" />
  <xs:complexType name="BlogComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model.Models" minOccurs="0" name="Blog" nillable="true" type="q1:Blog" />
      <xs:element minOccurs="0" name="BlogId" type="ser:guid" />
      <xs:element minOccurs="0" name="Commentar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IdAuthor" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentComment" nillable="true" type="tns:BlogComment" />
      <xs:element minOccurs="0" name="ParentCommentId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Raiting" type="xs:short" />
      <xs:element minOccurs="0" name="ReplayComment" nillable="true" type="tns:ArrayOfBlogComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogComment" nillable="true" type="tns:BlogComment" />
</xs:schema>