StackOverflow/Connected Services/WcfService/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8800/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8800/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8800/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models.Models" />
      <xsd:import schemaLocation="http://localhost:8800/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetAllBlogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogs" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetAllBlogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogsResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetBlogById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogById" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetBlogById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_SaveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComment" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_SaveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetCommentsForBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsForBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetCommentsForBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsForBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetCommentForId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentForId" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetCommentForId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentForIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_NegativeVote_InputMessage">
    <wsdl:part name="parameters" element="tns:NegativeVote" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_NegativeVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:NegativeVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_PositiveVote_InputMessage">
    <wsdl:part name="parameters" element="tns:PositiveVote" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_PositiveVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositiveVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_IsNewAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:IsNewAuthor" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_IsNewAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsNewAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetBlogByIdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByIdd" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetBlogByIdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogByIddResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetAllBlogsOfAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogsOfAuthor" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetAllBlogsOfAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogsOfAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetAllComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllComments" />
  </wsdl:message>
  <wsdl:message name="IBlogWcfService_GetAllComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_CreateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_CreateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_InsertPositiveVote_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPositiveVote" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_InsertPositiveVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPositiveVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_InsertNegativeVote_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNegativeVote" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_InsertNegativeVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNegativeVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_IsNewPositiveVote_InputMessage">
    <wsdl:part name="parameters" element="tns:IsNewPositiveVote" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_IsNewPositiveVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsNewPositiveVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_IsNewNegativeVote_InputMessage">
    <wsdl:part name="parameters" element="tns:IsNewNegativeVote" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_IsNewNegativeVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsNewNegativeVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_GetAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="IAuthorWcfService_GetAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/DoWork" message="tns:IWcfService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DoWorkResponse" message="tns:IWcfService_DoWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBlogWcfService">
    <wsdl:operation name="GetAllBlogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetAllBlogs" message="tns:IBlogWcfService_GetAllBlogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetAllBlogsResponse" message="tns:IBlogWcfService_GetAllBlogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetBlogById" message="tns:IBlogWcfService_GetBlogById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetBlogByIdResponse" message="tns:IBlogWcfService_GetBlogById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/SaveComment" message="tns:IBlogWcfService_SaveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/SaveCommentResponse" message="tns:IBlogWcfService_SaveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsForBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetCommentsForBlog" message="tns:IBlogWcfService_GetCommentsForBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetCommentsForBlogResponse" message="tns:IBlogWcfService_GetCommentsForBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentForId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetCommentForId" message="tns:IBlogWcfService_GetCommentForId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetCommentForIdResponse" message="tns:IBlogWcfService_GetCommentForId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NegativeVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/NegativeVote" message="tns:IBlogWcfService_NegativeVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/NegativeVoteResponse" message="tns:IBlogWcfService_NegativeVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositiveVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/PositiveVote" message="tns:IBlogWcfService_PositiveVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/PositiveVoteResponse" message="tns:IBlogWcfService_PositiveVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsNewAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/IsNewAuthor" message="tns:IBlogWcfService_IsNewAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/IsNewAuthorResponse" message="tns:IBlogWcfService_IsNewAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/Save" message="tns:IBlogWcfService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/SaveResponse" message="tns:IBlogWcfService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogByIdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetBlogByIdd" message="tns:IBlogWcfService_GetBlogByIdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetBlogByIddResponse" message="tns:IBlogWcfService_GetBlogByIdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlogsOfAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetAllBlogsOfAuthor" message="tns:IBlogWcfService_GetAllBlogsOfAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetAllBlogsOfAuthorResponse" message="tns:IBlogWcfService_GetAllBlogsOfAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogWcfService/GetAllComments" message="tns:IBlogWcfService_GetAllComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogWcfService/GetAllCommentsResponse" message="tns:IBlogWcfService_GetAllComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAuthorWcfService">
    <wsdl:operation name="CreateAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/CreateAuthor" message="tns:IAuthorWcfService_CreateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/CreateAuthorResponse" message="tns:IAuthorWcfService_CreateAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/GetById" message="tns:IAuthorWcfService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/GetByIdResponse" message="tns:IAuthorWcfService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPositiveVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/InsertPositiveVote" message="tns:IAuthorWcfService_InsertPositiveVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/InsertPositiveVoteResponse" message="tns:IAuthorWcfService_InsertPositiveVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNegativeVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/InsertNegativeVote" message="tns:IAuthorWcfService_InsertNegativeVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/InsertNegativeVoteResponse" message="tns:IAuthorWcfService_InsertNegativeVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsNewPositiveVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/IsNewPositiveVote" message="tns:IAuthorWcfService_IsNewPositiveVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/IsNewPositiveVoteResponse" message="tns:IAuthorWcfService_IsNewPositiveVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsNewNegativeVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/IsNewNegativeVote" message="tns:IAuthorWcfService_IsNewNegativeVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/IsNewNegativeVoteResponse" message="tns:IAuthorWcfService_IsNewNegativeVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorWcfService/GetAllAuthors" message="tns:IAuthorWcfService_GetAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorWcfService/GetAllAuthorsResponse" message="tns:IAuthorWcfService_GetAllAuthors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfService" type="tns:IWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWcfService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBlogWcfService" type="tns:IBlogWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBlogs">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetAllBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogById">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetBlogById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/SaveComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsForBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetCommentsForBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentForId">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetCommentForId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NegativeVote">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/NegativeVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositiveVote">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/PositiveVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNewAuthor">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/IsNewAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogByIdd">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetBlogByIdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlogsOfAuthor">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetAllBlogsOfAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllComments">
      <soap:operation soapAction="http://tempuri.org/IBlogWcfService/GetAllComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAuthorWcfService" type="tns:IAuthorWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/CreateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPositiveVote">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/InsertPositiveVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNegativeVote">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/InsertNegativeVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNewPositiveVote">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/IsNewPositiveVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNewNegativeVote">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/IsNewNegativeVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/IAuthorWcfService/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="BasicHttpBinding_IWcfService" binding="tns:BasicHttpBinding_IWcfService">
      <soap:address location="http://localhost:8800/WcfService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBlogWcfService" binding="tns:BasicHttpBinding_IBlogWcfService">
      <soap:address location="http://localhost:8800/WcfService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAuthorWcfService" binding="tns:BasicHttpBinding_IAuthorWcfService">
      <soap:address location="http://localhost:8800/WcfService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>